:root{
    --primary: rgb(180, 94, 60); 
    --secondary: rgb(255, 255, 255);
    --tertiary: rgb(167, 128, 96);
    

}

*{
    margin: 0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--primary);
}

header{
    background-image: url(./images/hero4.jpg);
    height: 400px;
    width: auto;
    background-size: cover;
    display: flex;
    margin: 0;
}

header a{
    color: var(--secondary);
    text-decoration: none;
}

header h1{
    background-color: var(--tertiary); width: 600px; height: 100px;
    margin: 0px;
    padding-top: 25px;
    text-align: center;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 7px;
    font-weight: 100;
    
}

header h3{
    background-color: var(--tertiary); width: 500px; height: 50px;
    position: absolute; top: 300px; right: 0px;
    padding: 15px 0;
    text-align: center;
    font-size: 30px;
    color: var(--secondary);
}

header nav ul{
 display: flex;
 flex-wrap: wrap; 
 justify-content: space-between;
 align-items: center;
 list-style: none; 
}


header nav ul li a{
    margin: 0 40px;
    padding-left: 30px;
    font-weight: lighter;
    font-size: 1.55vw;
    color: var(--primary);
}

nav a:hover {
    color: var(--tertiary);
}

/* Begining CSS for the body of page */
.left{
    margin: 40px 15px;
    text-align: left;
    font-size: 30px;
    display: flexbox;
    border-right: thick solid var(--primary); display: inline-block; padding-right: 10px;

}

.flex-row {
    display: flex;
}

.main {
    height: 300px;
    width: 805px;
}

.support {
    height: 200px;
    width: 400px;
}


@media screen {max-width: 768px}
flex-direction: column;
}
    





