/* Color variables set-up  */
:root{
    --primary: rgb(180, 94, 60); 
    --secondary: rgb(255, 255, 255);
    --tertiary: rgb(167, 128, 96);
}

/* Global statement, all margins are set to 0 */
*{
    margin: 0;
}

/* Selection of font family and color for the body of page */
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--primary);
}

/* Header starts here, includes the image, navigation links and two banners with name and subtitle */
header{
    background-image: url(https://images.unsplash.com/photo-1620056897337-0f940bf24eaf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGJlaWdlfGVufDB8fDB8fA%3D%3D&w=1000&q=80);
    height: 400px;
    width: 100%;
    background-size: cover;
    display: flex;
    margin: 0;
}

header a{
    color: var(--secondary);
    text-decoration: none;
}

header h1{
    background-color: var(--tertiary); width: 600px; height: 100px;
    color: var(--secondary);
    margin: 0px;
    padding-top: 25px;
    text-align: center;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 7px;
    font-weight: 100;

}

header h3{
    background-color: var(--tertiary); width: 500px; height: 50px;
    position: relative; top: 300px; right: 0px;
    padding: 15px 0;
    text-align: center;
    font-size: 30px;
    color: var(--secondary);
}

/* CSS for the navigation in the header  */
header nav ul{
 display: flex; 
 flex-direction: row;
 justify-content: space-evenly;
 list-style: none; 
 text-align: right;

}

header nav ul li {
    display: inline-block;
}

header nav ul li a{
    width: 80%;
    display: block;
    padding: 10px 50px 10px 50px;
    font-weight: lighter;
    font-size: 25px;
    color: var(--primary);  
}

 /* pseudo class that will change the color of the link when mouse hovers */
nav a:hover {
    color: var(--tertiary);
}


/* Begining CSS for the body of page */

/* This define the test about me, work, and contact me */
.left{
    margin: 40px 15px;
    text-align: left;
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    border-right: thick solid var(--primary); padding-right: 20px;
}

/* This is the about me paragraph and picture */
#about {
    display: flex;
    justify-content: space-between;
}

#about p {
    margin-top: 75px;
}

#about img {
    width: 250px;
    height: 350px;
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
}

/* Work section with the hyperlinked grpahics */
#work {
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
    justify-content: space-evenly;
}

#work img{
    width: 400px;
    height: 300px;
   display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
   justify-content:space-around;
   flex-shrink: 1;
}

/* Using this to override the previous picture width and height for first tiled image */
#main-photo img {
    width: 900px;
    height: 300px;
}

/* This defines the text under each picture */
#work h3, h4 {
    justify-items: center;
    padding: 5px 0;
    display: flex;
}

/* Contact information */
#contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none ;
}

.contact-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 75%;
    margin: 75px;
    list-style: none;
    text-decoration: underline; 
    font-weight: bolder;
    
}
 /* psuedo classes to keep the visted links the same color as the one that has not been visited and to change the color on hover */
a:link, a:visited {
    color: var(--primary);
} 

a:hover {
    color: var(--tertiary);
}

/* beginning of the media query to make the layout fit to different screen sizes */

/* This is a media query to fit smaller browser screens */
@media screen and (max-width: 980px){
    header h1{
        font-size: 35px;
    }
    header nav ul li a{
        flex-direction: column;
        font-size: 20px;
        justify-items: right
    }

    .left{
        border-right: none;   
    }

    #contact{ 
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
    }
    .contact-info{
       flex-direction: column;
      justify-content: center; 
      line-height: 2.8;
       }
}  

/* This is a media query to fit tablets */
@media screen and (max-width: 786px) {
    header h3{
        font-size: 25px;
    }
    #main-photo img{
        width: 750px
    }  
}




   






