/* Color variables set-up  */
:root{
    --primary: rgb(180, 94, 60); 
    --secondary: rgb(255, 255, 255);
    --tertiary: rgb(167, 128, 96);
}

/* Global statement, all margins are set to 0 */
*{
    margin: 0;
}

/* Selection of font family and color for the body of page */
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--primary);
}

/* Header starts here, includes the image, navigation links and two banners with name and subtitle */
header{
    background-image: url(./images/Hero.jpg);
    height: 400px;
    width: auto;
    background-size: cover;
    display: flex;
    margin: 0;
}

header a{
    color: var(--secondary);
    text-decoration: none;
}

header h1{
    background-color: var(--tertiary); width: 600px; height: 100px;
    color: var(--secondary);
    margin: 0px;
    padding-top: 25px;
    text-align: center;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 7px;
    font-weight: 100;
    
}

header h3{
    background-color: var(--tertiary); width: 500px; height: 50px;
    position: absolute; top: 300px; right: 0px;
    padding: 15px 0;
    text-align: center;
    font-size: 30px;
    color: var(--secondary);
}

/* CSS for the navigation  */
header nav ul{
 display: flex;
 flex-wrap: wrap; 
 justify-content: space-between;
 align-items: center;
 list-style: none; 
}

header nav ul li a{
    margin: 0 40px;
    padding-left: 30px;
    font-weight: lighter;
    font-size: 1.55vw;
    color: var(--primary);
}

nav a:hover {
    color: var(--tertiary);
}


/* Begining CSS for the body of page */
.left{
    margin: 40px 15px;
    text-align: left;
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    border-right: thick solid var(--primary); display: inline-block; padding-right: 10px;

}

#about img {
    width: 250px;
    height: 350px;
    display: flex;
    justify-content: right;
}


/* Work section with the hyperlinked grpahics */
#work {
    margin: 50px auto;
    /* padding-bottom: 50px; */
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
    justify-content: space-between;
}

#work img{
    width: 400px;
    height: 300px;
   display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
   justify-content:space-around;
   flex-shrink: 1;
}

#main-photo img {
    width: 800px;
    height: 300px;
}

#work h3, h4 {
    justify-items: center;
    padding: 5px 0;
}

.contact-info li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none ;
    
}

    





